.album-info {
  &__picture {
    width: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
  }

  &__title {
    margin-top: 0;
  }
}
