<!--<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3>
      <span>{{currentAlbum.name}}</span>
    </h3>
  </div>
</md-toolbar>-->

<h2>{{currentAlbum.name}}</h2>

<md-list>
  <md-item ng-repeat="track in tracks.items | orderBy:(track.no || $index) track by $index">
    <div layout="row">
      <md-item-content flex class="hover-tile" aria-label="track information" ng-click="tracks.toggleTrack(track)">
        <div class="md-tile-left">
          <md-button class="md-icon-button md-primary" aria-label="play track">
            <ng-md-icon ng-attr-icon="{{trackSelected === track.path ? 'stop' : 'play_arrow'}}"></ng-md-icon>
          </md-button>
        </div>
        <div class="md-tile-content">
          {{track.title}}
        </div>
      </md-item-content>
      <md-button class="md-icon-button md-primary" ng-click="tracks.addToPlaylist(track)" aria-label="add to playlist">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
    </div>


    <md-divider></md-divider>
  </md-item>
</md-list>
