<div class="col-md-5">
  <h1 class="text-ellipsis">{{currentArtist.name}}</h1>
  <ul class="list-unstyled actionList">
    <li ng-repeat="album in albums.items | orderBy:'year'"
        class="actionList__item actionList__item--album slide-right slide-right-delayed clearfix"
      >
      <article class="albumInfo pull-left">
        <img ng-if="album.picture" width="80"
             ng-src="{{album.picture}}" alt="" class="pull-left"
          />

        <h3 class="albumInfo__title text-ellipsis">{{album.name}}</h3>
        <ul class="albumInfo__list list-unstyled">
          <li class="albumInfo__item"><strong>Genre:</strong> {{albums.getGenre(album)}}</li>
          <li class="albumInfo__item"><strong>Année:</strong> {{album.year}}</li>
        </ul>
      </article>
      <a href ui-sref="artists.albums.tracks({
        album: album.label
      })" type="button" class="btn btn-default btn-sm pull-right return-top">
        Voir les Chansons
      </a>
    </li>
  </ul>
</div>
<div ui-view class="slide-right"></div>
