<section class="pageSection" id="home" ng-controller="Home">
    <div class="player col-md-12 push-top text-center" ng-if="trackPath">
        <a href="{{trackPath}}" target="_blank" type="button" class="btn btn-default btn-sm pull-left">Télécharger le titre</a>
        <audio controls audio-player="" ng-src="{{trackPath}}" autoplay="true"></audio>
        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="reset()">Réinitialiser</button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" ng-model="nameFilter" class="form-control" placeholder="Chercher par nom" />
            </div>
            <ul class="list-unstyled actionList">
                <li ng-repeat="artist in artists | filter:nameFilter | orderBy:'name'"
                    class="clearfix actionList__item"
                ><span class="text">{{artist.name}}</span>
                    <button type="button" ng-click="getAlbumsForArtist(artist)" class="btn btn-default btn-sm pull-right">
                        Voir les albums
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <h1 class="text-ellipsis">{{currentArtist.name}}</h1>
            <ul class="list-unstyled actionList">
                <li ng-repeat="album in albums | orderBy:'year'"
                    class="actionList__item actionList__item--album slide-right slide-right-delayed clearfix"
                ><article class="albumInfo pull-left">
                        <img ng-if="album.picture" width="80"
                             ng-src="{{album.picture}}" alt="" class="pull-left"
                        />
                        <h3 class="albumInfo__title text-ellipsis">{{album.name}}</h3>
                        <ul class="albumInfo__list list-unstyled">
                            <li class="albumInfo__item"><strong>Genre:</strong> {{getAlbumGenre(album)}}</li>
                            <li class="albumInfo__item"><strong>Année:</strong> {{album.year}}</li>
                        </ul>
                    </article>
                    <button type="button" ng-click="getTracksForAlbum(album)" class="btn btn-default btn-sm pull-right">
                        Voir les Chansons
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-4 slide-right" ng-if="tracks.length">
            <h2>- {{tracksHead.title}} -</h2>
            <h3>by {{tracksHead.artist}}</h3>
            <table class="table table-hover table-responsive">
                <tr ng-repeat="(i, track) in tracks | orderBy:'track.no'"
                    ng-class="{ 'success': trackSelected == track.path }"
                ><td><span class="text-ellipsis pull-left">{{track.track.no || i + 1}} - {{track.title}}</span>
                    </td>
                    <td>
                        <button type="button" ng-click="playSong(track)" class="btn btn-default btn-sm pull-right">
                            Ecouter
                        </button>
                        <button type="button" ng-if="trackSelected == track.path"
                            ng-click="stopSong()"
                            class="btn btn-default btn-sm pull-right slide-left"
                        >Arrêter</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>