.alpha .alpha.ng-enter, .alpha .alpha.ng-enter-remove, .alpha .alpha.ng-add, .alpha .alpha.ng-add-remove, .alpha .alpha.ng-show, .alpha .alpha.ng-show-remove, .alpha .alpha.ng-leave-active, .alpha .alpha.ng-remove-active, .alpha .alpha.ng-hide-active {
  opacity: 1; }
.alpha .alpha.ng-enter-active, .alpha .alpha.ng-add-active, .alpha .alpha.ng-show-active, .alpha .alpha.ng-leave, .alpha .alpha.ng-leave-remove, .alpha .alpha.ng-remove, .alpha .alpha.ng-remove-remove, .alpha .alpha.ng-hide, .alpha .alpha.ng-hide-remove {
  opacity: 0; }
.alpha .alpha.ng-enter {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
.alpha .alpha.ng-add {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
.alpha .alpha.ng-show {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
.alpha .alpha.ng-leave {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
.alpha .alpha.ng-remove {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
.alpha .alpha.ng-hide {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -msie-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.slide-right.ng-enter {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -msie-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate3d(10px, 10px, 0);
  -moz-transform: translate3d(10px, 10px, 0);
  -msie-transform: translate3d(10px, 10px, 0);
  -o-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
  opacity: 0; }
  .slide-right.ng-enter-active {
    -webkit-transform: none;
    -moz-transform: none;
    -msie-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1; }
.slide-right-delayed.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

.slide-left.ng-enter {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -msie-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate3d(-15px, 0, 0);
  -moz-transform: translate3d(-15px, 0, 0);
  -msie-transform: translate3d(-15px, 0, 0);
  -o-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
  opacity: 0; }
  .slide-left.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -msie-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
.slide-left.ng-leave {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -msie-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -msie-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }
  .slide-left.ng-leave-active {
    -webkit-transform: translate3d(-15px, 0, 0);
    -moz-transform: translate3d(-15px, 0, 0);
    -msie-transform: translate3d(-15px, 0, 0);
    -o-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
    opacity: 0; }

.push-top.ng-enter {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -msie-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: -35px;
  opacity: 0; }
  .push-top.ng-enter-active {
    margin-top: 0;
    opacity: 1; }
.push-top.ng-leave {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -msie-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 0;
  opacity: 1; }
  .push-top.ng-leave-active {
    margin-top: -35px;
    opacity: 0; }

.hover-tile:hover {
  cursor: pointer; }
  .hover-tile:hover .md-tile-content {
    text-decoration: underline; }
.hover-tile--animate-left .md-tile-left {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
  transition: none; }
.hover-tile--animate-left:hover .md-tile-left {
  transition: all .3s ease-out;
  opacity: 1;
  transform: none; }

.slide-bottom.ng-enter {
  transition: all .3s ease-out;
  transform: translate3d(0, 10px, 0);
  opacity: 0; }
  .slide-bottom.ng-enter-active {
    opacity: 1;
    transform: none; }

.slide-toggle.ng-enter {
  transition: all .3s ease-in-out;
  transform: translate3d(10px, 0, 0);
  opacity: 0; }
  .slide-toggle.ng-enter-active {
    transform: none;
    opacity: 1; }
.slide-toggle.ng-leave {
  transition: all .3s ease-in-out;
  transform: none;
  opacity: 1; }
  .slide-toggle.ng-leave-active {
    transform: translate3d(-10px, 0, 0);
    opacity: 0; }

body {
  overflow-y: scroll; }

.text-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.pageSection {
  padding: 15px; }

.actionList__item {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  line-height: 30px; }
  .actionList__item--album {
    line-height: initial; }

.album-info__picture {
  width: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box; }
.album-info__title {
  margin-top: 0; }

.player {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  .player audio {
    width: 100%; }
  .player__list {
    display: inline-block;
    width: 50%; }

/*# sourceMappingURL=main.css.map */
