<div class="col-md-3">
  <div class="form-group">
    <input type="text" ng-model="nameFilter"
       ng-change="onChange()"
       ng-model-options="{ debounce: 350 }"
       class="form-control"
       placeholder="Chercher par nom"
    />
  </div>
  <ul class="list-unstyled actionList">
    <li ng-repeat="artist in artists.items | filter:nameFilter | orderBy:'name' track by $index"
        class="clearfix actionList__item"
      ><span class="text">{{artist.name}}</span>
      <a href ui-sref="artists.albums({
        artist: artist.label
      })" type="button" class="btn btn-default btn-sm pull-right return-top">
        Voir les albums
      </a>
    </li>
  </ul>
</div>
<div ui-view class="slide-right"></div>
